/AmiguApp/Servidor/AmiguApp-Servidor/build/
/AmiguApp/Desktop/Cliente/AmiguApp-Cliente/build/
/AmiguApp/Desktop/Cliente/AmiguApp-Cliente/dist/
/AmiguApp/Servidor/AmiguApp-Servidor/dist/
AmiguApp/Desktop/Cliente/AmiguApp-Cliente/nbproject/private/private.properties
AmiguApp/Desktop/Cliente/AmiguApp-Cliente/nbproject/private/private.properties
AmiguApp/Mobile/AmiguApp/.idea/gradle.xml
